.city-selection-popup {
    display: block;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .7);

    .cross-img {
        display: block;
        width: 60px;
        height: 60px;

        position: absolute;
        right: 10px;
        top: 10px;

        cursor: pointer;
        fill: white;
    }

    .list-of-cities {
        display: grid;
        justify-items: center;
        align-items: center;

        height: 100%;
        list-style: none;

        li {
            box-sizing: border-box;
            width: 430px;
            padding: 24px;

            background: #2D3C82;
            border-radius: 60px;

            font-size: 40px;
            text-align: center;

            cursor: pointer;
            transition: .2s;

            &:hover {
                box-shadow: 0 0 22px #4962d6;
            }
        }
    }
}