.weather-data-container {
    justify-self: center;
    margin-top: 30px;

    .weather-data-block {
        display: grid;
        justify-items: center;

        .degrees-text {
            text-align: center;
            font-size: 70px;

            position: relative;

            &::after {
                content: '°';

                position: absolute;
                top: 5px;
                right: -20px;

                font-size: 50px;
            }
        }
    }

    .weather-status {
        text-align: center;
    }
}