.weather-data-container {
    justify-self: center;
    margin-top: 30px;

    .degrees-text {
        text-align: center;
        font-size: 50px;
    }

    .weather-status {
        text-align: center;
    }
}