body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgb(43, 65, 129), rgb(109, 135, 214));

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  max-height: 100%;

  // display: grid;
  // grid-template-rows: auto auto 1fr;

  margin: 0 auto;
}